In [3]:
#creating a list
list1 = [10,20,30,40,50]

#adding an element to the list
list1.append(60)

#removing an element from the list
list1.remove(30)

#modifying the list
list1[1] = "sreeja"

#inserting an element from the list
list1.insert(2,"satya")

#printing the list
print("Updated list : ",list1)

Updated list :  [10, 'sreeja', 'satya', 40, 50, 60]

In [6]:
#creating a dictionary
dict1 = {"name":"sreeja","age":20,"branch":"CSE"}

#adding a key-value pair to the dictionary
dict1["roll_no"] = 10

#removing a key-value pair from the dictionary
del dict1["age"]

#modifying a value in the dictionary
dict1["name"] = "satya"

#printing the dictionary
print("Updated dictionary : ",dict1)

Updated dictionary :  {'name': 'satya', 'branch': 'CSE', 'roll_no': 10}

In [16]:
#original tuple
tuple1 = (10,20,30,40,50)

#adding a new element to the tuple
new_element = 60
tuple2 = tuple1 + (new_element,)

#removing an element from the tuple
tuple2 = tuple1[1:]

#modifying an element in the tuple
modified_element = 80
tuple2 = tuple1[:1] + (modified_element,) + tuple1[2:]

#printing the tuple
print("Updated tuple : ",tuple2)

Updated tuple :  (10, 80, 30, 40, 50)